# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA / VSCode
.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/

# Secrets — NUNCA versionar
src/main/resources/application.properties
!src/main/resources/application.properties.example

# OS
.DS_Store
Thumbs.db

# Spring Boot
spring-shell.log

